Authlib
bcrypt
blinker
certifi
cffi
charset-normalizer
click
cloudinary
colorama
cryptography
Flask
Flask-Login
Flask-Mail
flask-marshmallow
Flask-SQLAlchemy
Flask-User
Flask-WTF
greenlet
idna
importlib-metadata
itsdangerous
Jinja2
jwt
MarkupSafe
marshmallow
packaging
passlib
pycodestyle
pycparser
PyJWT
requests
six
SQLAlchemy
typing_extensions
urllib3
Werkzeug
WTForms
zipp
